{% extends 'main_site/index.html' %}
{% load static %}
{% block content %}
    <div class="header">
        <h1>My skills</h1>
    </div>
    <div id="logos">
        <div class="logo">
            <a href="{% url 'python' %}"><img src="{% static 'img/python.png' %}" alt="pyt"></a>
        </div>
        <div class="logo">
            <a href="{% url 'django' %}"><img src="{% static 'img/django.png' %}" alt="dj"></a>
        </div>
        <div class="logo">
            <a href="{% url 'html' %}"><img src="{% static 'img/html.png' %}" alt="HTML"></a>
        </div>
        <div class="logo">
            <a href="{% url 'css' %}"><img src="{% static 'img/css.png' %}" alt="CSS"></a>
        </div>
        <div class="logo">
            <a href="{% url 'R' %}"><img src="{% static 'img/R.png' %}" alt="CSS"></a>
        </div>
        <div class="logo">
            <a href="{% url 'bash' %}"><img src="{% static 'img/bash.png' %}" alt="CSS"></a>
        </div>
    </div>
{% endblock %}