body {
  margin: 0;
}

.backgroundMenu {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  position: fixed;
  //margin-top: 2%;
  background-color: rgba(0, 0, 0, 0.5);
}

#topImg {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;

  img {
    //border-style: solid;
    //border-color: #ff4a60;
    width: 100vw;
  }

  a {
    color: white;
    position: absolute;
    left: 0;
    top: 470px;
    text-decoration: none;
    font-family: "DejaVu Serif", sans-serif;
    opacity: 0.8;

  }
}

.header {
  text-align: center;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 50px;
    font-family: "DejaVu Serif", sans-serif;
    color: #ff4a60;
  }

  img {
    height: 100px;
    width: auto;
    margin-top: 10px;
    margin-left: 50px;
  }
}

.text-href {
  height: 60px;
  width: 100px;
  //background: black;
  //border-style: solid;
  //border-color: #ff4a60;
  //margin: 2px;
  display: flex;
  justify-content: center;

  a {
    align-content: center;
    display: inline-grid;
    font-size: 20px;
    font-family: "DejaVu Serif", sans-serif;
    text-decoration: none;
    transition: color 0.2s;
    color: white;
    opacity: 1;


    &:hover {
      color: #ff4a60;
    }
  }
}

#mainContent {
  margin: 10px;
  border-style: solid;
  border-color: #ff4a60;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: #ff4a60;
    font-family: "DejaVu Serif", sans-serif;
    font-size: 22px;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  p {
    font-family: "DejaVu Serif", sans-serif;
    font-size: 22px;
    margin-top: 22px;
    margin-bottom: 22px;

  }

  img {
    margin-left: 22px;
    background-color: black;
    height: 32px;
    width: auto;
    transition: background-color 0.2s;

    &:hover {
      background-color: #ff4a60;
    }
  }
}

#contactsContent {
  display: grid;
  justify-content: center;
}

#contactsHref {
  display: grid;
  justify-items: center;

}

#logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.logo {
  margin: 30px;
  display: flex;
  float: left;

  img {
    height: 300px;
    width: auto;
  }
}

#sideContent {
  margin: 10px;
  border-style: solid;
  border-color: #ff4a60;
  display: flex;
  justify-content: center;

  p {
    font-family: "DejaVu Serif", sans-serif;
    font-size: 45px;
    margin: 22px 10%;
  }
}

#imgLink {
  display: flex;

  a {
    text-decoration: none;
    color: #ff4a60;
    font-family: "DejaVu Serif", sans-serif;
    font-size: 22px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 10px;
  }
}

#langContent {
  display: flex;
}

#langDescription {
  margin: 10px;
  border-style: solid;
  border-color: #ff4a60;
  display: flex;
  justify-content: center;

  p {
    font-family: "DejaVu Serif", sans-serif;
    font-size: 35px;
    margin: 22px 10%;
  }
}

#langImage {
  margin: 10px;
  display: flex;
  justify-content: center;

  img {
    height: 300px;
    width: auto;
    margin: 15px;
  }
}

#langSkills {
  margin: 10px;
  border-style: solid;
  border-color: #ff4a60;
  display: flex;
  justify-content: center;

  p {
    font-family: "DejaVu Serif", sans-serif;
    font-size: 35px;
    margin: 22px 10%;
  }
}