{% load static %}

<html lang="pl">
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Mr_klata</title>
</head>
<body>

<div class="backgroundMenu">
    <div class="text-href">
        <a href="{% url 'main_site' %}">Home</a>
    </div>
    <div class="text-href">
        <a href="{% url 'contact' %}">Contact</a>
    </div>
    <div class="text-href">
        <a href="{% url 'skills' %}">My skills</a>
    </div>
</div>
<div id="topImg">
{#    <img src="{% static 'img/wallpaper.jpg' %}" alt="bcg">#}
    <a href="https://www.pexels.com/pl-pl/@felixmittermeier">Background creator</a>
</div>
{% block content %}{% endblock %}
<div id="imgLink">
</div>
</body>
</html>